/**
 * Arconix Plugins Stylesheet
 *
 * The best way to modify this stylesheet is to copy this file to the root of your
 * theme's folder and rename it to 'arconix-plugins.css'. The plugin will load that sheet in
 * place of this, allowing easy changes which won't be overwritten during a plugin upgrade
 */

ul.arconix-plugin-links li {
    list-style-type: none;
}

.arconix-plugin-links li a {
    background: url(images/sprite-vert.png) transparent no-repeat;
    padding-left: 22px;
}

li.arconix-plugin-docs a { background-position: 0px -42px; } 
li.arconix-plugin-help a { background-position: 0px -21px; } 
li.arconix-plugin-dev a { background-position: 0px -63px; }
li.arconix-plugin-source a { background-position: 0px -84px; }